@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@300;400;700&display=swap:');

body {
  background: #bae1c5;
  text-align: center;
  font-family: 'Playfair Display';
}

h1.main {
  color: #bae1c5;
  font-weight: 300;
  font-size: 40px;
}

h2 {
  color: rgb(5, 4, 4);
  font-size: 25px;
  font-weight: 300;
}

img {
  width: 250px;
  border: 3px solid #bae1c5;
  padding: 2px;
  margin: auto;
  display:block;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: rgb(3, 3, 3);
  font-size: 15px;
}

ul, a {
  color:rgb(2, 117, 58);
  font-size: 15px;
  line-height: 150%;
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}

a:hover {
  color: rgb(1, 50, 24);
}

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 720px){
.container {
    width: 500px;
  }
}
@media (max-width: 960px){
  .container {
      width: 700px;
    }
  }
div.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 50px;
  margin: 20px 0px;
}
